{% extends "blog/base.html" %}

{% block content %}
<div class="about-me">
<!--   <aside>
    <p>Things I am passionate about:</p>
    <ul>
      <li>Hiking the Cascades</li>
      <li>Reading</li>
      <li>My terrier mix dog, Butter</li>
      <li>Animal Rights</li>
      <li>Environment</li>
    </ul>
  </aside> -->
  <h2>About Me</h2>
  <h3>In depth...</h3>
  <p>I am a first generation Mexican-American. I was born and raised in Southern California. I moved to Seattle 4 years ago because I enjoy the city's culture, coffee, geography, and weather.</p>
  <p>In my free time, I enjoy playing or watching baseball. Although I support our Seattle Mariners team, my heart still belongs to the blue and red--Angels and Dodgers. I also enjoy hiking the Cascades. When time allows I pack my day backpack and hit the road to our National Forests. I am a strong believer in allowing yourself to unplug from your every day life and technology for a little R&R.</p>
  <h3>Technology</h3>
  <p>I have always had a passion for technology, but I never had a mentor throughout my education career to assist me into the realization it was something I should have pursued rather than a degree in Business Administration. It wasn’t until I moved to Seattle and had the opportunity to work with a few developers that I came to realize my interest and passion to seeing an application going from an idea to a realization. I then took a risk no one around me could ever think of doing. One year away from turning 30, and having 6 successful years in IT support/ administration, I quit my job (and left a promotion) to pursue my dream in some day becoming a successful developer.</p>
  <p>Every individual I have had the pleasure and opportunity to work with can tell you the determination and passion I have for the work I am responsible for. I take great care to the projects I am overseeing, and I take great pride in the level of support I provide to other business partners I am in communication with. I also consider myself to being a goal-oriented individual. This has allowed me, and continue to, to expand my knowledge. I am a strong believer in where an individual should never settle for less, continue learning at your job no matter how many years of experience you may have. There is always an area we are not aware of that can play an important role in becoming an asset to the team and/ or company you are a part of. It is through education and an expansion in our knowledge that we are given the opportunities and tools to become innovative in what we do.</p>
  <p>In five years from now I hope to see myself being an integral team member for a company that has given me the opportunity to grow with. I also hope to share my story with a greater audience in hope that it can help future generations of under privileged kids. I hope to be living proof that our American Dream still lives—there is an upward social mobility that is achieved through hard work.</p>
</div>
<div class="pictures">
  <ul>
    <li><img src="../static/img/IMG_1462.jpg" height="200px" width="200"></li>
    <li><img src="../static/img/IMG_1567.jpg" height="200px" width="200"></li>
    <li><img src="../static/img/IMG_1229.jpg" height="200" width="200"></li>
  </ul>
</div>
{% endblock %}
