{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Claudia's Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="page-header">
      {% if user.is_authenticated %}
        <a href="{% url "post_new" %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
      {% endif %}
      <h1><a href="/">&#161S&#237, <strong class="this-keyword">this</strong>.mexican can code!</a></h1>
      <nav class="navbar navbar-default">
        <div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/post_list">Blog</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="content">
      <div class="">
        <div class="">
        {% block content %}
        {% endblock %}
        </div>
      </div>
    </div>
    <footer class="page-footer">
      <p>Contact Me!</p>
      <ul>
        <li><a href="http://www.linkedin.com/in/clcuevas" target="_blank" title="Visit My LinkedIn Profile"><img src="../static/img/linkedin12.png" alt="LinkedIn Profile" height="40" width="40"></a></li>
        <li><a href="http://www.github.com/clcuevas" target="_blank" title="View My Code"><img src="../static/img/github8.png" alt="GitHub Profile" height="40" width="40"></a></li>
        <li><a href="https://drive.google.com/file/d/0B38l6Rwpbe_fREV3LWQ3dEVtbm8/view?usp=sharing" target="_blank" title="View My Resume"><img src="../static/img/google134.png" alt="Resume" height="40" width="40"></a></li>
        <li><a href="mailto:claudia.cuevasBA@yahoo.com" title="Email Me!"><img src="../static/img/envelope4.png" alt="Email Me!" height="40" width="40"></a></li>
      </ul>
    </footer>
  </body>
</html>
