{% extends "blog/base.html" %}

{% block content %}
  <div class="profile">
    <img src="../static/img/IMG_1283.jpg" class="profile-pic" width="150" height="150">
    <h1>Claudia Cuevas</h1>
    <p>Software Developer--Seattle, WA</p>
  </div>
  <div class="landing-page">
    <h3>Welcome</h3>
    <p>Thank you for visiting my site. I am sure that if you're here it is because I have applied for a position at your company or you are just curious to get to know me better after seeing me in LinkedIn.</p>
    <p>This website is still a work in progress, so I apologize in advance if your experience here has given you some slight problems. I plan on adding more content throughout the days, and utilizing this space to keep practicing my skills (or further developing them). So stay tuned!</p>
    <h3>Brief Summary</h3>
    <p>I have obtained a Bachelor's Degree in Business Administration, Finance. I also have over 5 years of corporate IT experience. Finally, and most importantly, I am in the process of making a career change from a Systems Administrator to a Software Developer.</p>
    <p>Highlighted Skills:</p>
    <ul>
      <li>Proficient:
        <ul>
          <li>JavaScript</li>
          <li>AngularJS</li>
          <li>Express/Node.js</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
      </li>
      <li>Developing:
        <ul>
          <li>AngularJS</li>
          <li>Node.js</li>
          <li>Python</li>
          <li>Django</li>
          <li>SQL</li>
        </ul>
      </li>
    </ul>
    <p>For a more detailed information regarding my experience and skills, please checkout my LinkedIn profile or my resume that I have made available publicly. These links are located in the footer.</p>
    <p>Also, please feel free to send me an email directly! Just click on the mail link in the footer.</p>
  </div>

{% endblock %}
