{% extends "blog/base.html" %}

{% block content %}
<div class="projects">
  <div class="jumbotron">
    <h1><div class="this-keyword">this</div>.website</h1>
    <p>This is my personal website project. I was introduced to a Django Girls "Introduction to Django Tutorial". Prior to learning JavaScript, I exposed myself to some Python introductory courses. I enjoyed the language and decided to re-introduce myself to it and continue to learn it. Hence how this website was created.</p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/clcuevas/django_blog" role="button" target="_blank">View The Code!</a></p>
    <button class="btn btn-secondary btn-md"><a href="https://www.gitbook.com/book/djangogirls/djangogirls-tutorial/details" target="_blank">Django Tutorial</a></button>
  </div>
  <div class="jumbotron">
    <h1>Freezr App</h1>
    <p>Freezr is an application that allows users to store their personal food inventory, keeps track of food expiration dates, and recommends recipes to use their expiring food. Recipes are provided by the <a href="http://api.yummly.com/v1" target="_blank">Yummly API</a>.</p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/jonullberg/freezr" role="button" target="_blank">View The Code!</a></p>
  </div>
  <div class="jumbotron">
    <h1>GeoPhotoHunt</h1>
    <p>This is a RESTful API for an iOS application that accepts requests and generates responses in JSON data to create geo challenges and complete existing challenges. It utilizes <a href="https://github.com/toastynerd/eat" target="_blank">Encrypted Authentication Tokens</a>.</p>
    <p>You can find this iOS app now in the App Store! View the source code for the link in the README file.</p>
    <p><a class="btn btn-primary btn-lg"href="https://github.com/satuba/geo-adventure" target="_blank">View The Code!</a></p>
  </div>
</div>
{% endblock %}
