/*
    HEADER
*/
.page-header {
  background-color: #ff9400;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  color: #fff;
  font-size: 36pt;
  text-decoration: none;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: #fff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

/*
    BODY
*/
.content {
  min-height: 400px;
  margin-bottom: 120px;
  clear: both;
}

.date {
  float: right;
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.post {
  margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
  color: #000;
}

/*
      FOOTER
*/
footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:120px;
   width:100%;
   background:#999;
   text-align: center;
}

.page-footer p {
  font-size: 16px;
  margin-top: 20px;
  /*text-align: center;*/
}

.page-footer ul li {
  list-style: none;
  display: inline;
  padding: 2px;
}

.page-footer a img:hover{
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
}
