@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
    HEADER
*/
.page-header {
  background-color: #555;
  margin: 0 auto;
  padding: 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
  color: #fff;
  font-size: 36pt;
  text-decoration: none;
}

.header-content {
  width: 80%;
  margin: 40px auto 60px auto;
}

.this-keyword {
  color: #6699CC;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: #fff;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
}

/*
    CONTENT
*/
.content {
  min-height: 100%;
/*  width: inherit;*/
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.about-me {
  width: 76%;
  margin: 40px auto 60px auto;
}

.about-me > p {
  font-size: 16px;
}

.about-me strong {
  color: #6699CC;
  font-weight: bold;
}

.profile {
  margin-bottom: 100px;
  margin-top: 40px;
}

.profile img {
  margin-left: 12%;
  margin-right: 2%;
  float: left;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.name-title {
  margin-left: 30%;
  padding-top: 16px;
}

.name-title h1 {
  margin-bottom: -3px;
}

.landing-page {
  width: 76%;
  margin: 0 auto;
}

.landing-page > h3 {
  font-size: 26px;
}

.landing-page > p {
  font-size: 16px;
}

.date {
  float: right;
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.post {
  margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
  color: #000;
}

.pictures {
  text-align: center;
}

.pictures ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  font-size: 16px;
}

.pictures img {
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

li.below:after {
  content: attr(title); /* places the contents of title below the image */
  display: block;
}

.post {
  width: 76%;
  margin: 40px auto 60px auto;
}

.post > p {
  font-size: 16px;
}

.projects {
  width: 76%;
  margin: 40px auto 60px auto;
}

/*
    FOOTER
*/
.page-footer {
  background-color: #555;
  height: 150px;
  bottom: 0;
  text-align: center;
}

.page-footer h2 {
  font-size: 22px;
  color: #6699CC;
  padding-top: 20px;
}

.page-footer ul {
    margin-left: -55px;
    padding-top: 15px;
}

.page-footer ul li {
  list-style: none;
  display: inline;
  padding: 4px;
}

.page-footer a img:hover{
  -moz-transform: translate(-2px, -2px);
  -ms-transform: translate(-2px, -2px);
  -o-transform: translate(-2px, -2px);
  -webkit-transform: translate(-2px, -2px);
  transform: translate(-2px, -2px);
}
