@media (max-width: 799px) and (min-width: 501px) {
  /* ****************
        HEADER
  ***************** */
  .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #fff;
    font-size: 1.65em;
    text-decoration: none;
  }

  .header-content {
    max-width: 820px;
    width: 80%;
    margin: 30px auto 40px auto;
  }

  .top-menu, .top-menu:hover, .top-menu:visited {
    color: #fff;
    float: right;
    font-size: 2em;
  }

  /* ****************
      LANDING PAGE
  ***************** */
  .landing-page img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }

  .name-title {
    text-align: center;
    padding-top: 1em;
  }

  /* ****************
          ABOUT ME
  ***************** */
  .pictures img {
    max-height: 100px;
    max-width: 100px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }

}
